<!DOCTYPE html>
 {% load static %}
{% csrf_token %}
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>
    <!-- CSS  -->
 <!-- CSS  -->
  <link href= "https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <link href=  "{% static 'css/materialize.css'  %}"type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href= "{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
<!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src= "{% static 'js/init.js' %}"></script>


<script type="text/javascript">
$('select').material_select();
</script>

</head>

<!--{% block title %}Create an account{% endblock %}-->

<!--{% block content %}-->
  <!--<h1>Create an account</h1>-->
<body>
  <!--navbar-->
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Todo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="login.html">Login</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
         <li><a href="#">todo</a></li>
        <li><a href="login.html">Login</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="container">  
  <div class="row">
    <div class="input-field s6">      
      <select class="validate">
        <option value="" disabled selected>Choose your option</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
      <label >OS Version</label>
    </div>
    <div class="input-field s6">
      <label >OS Version</label>
      <select class="validate">
        <option value="" disabled selected>Choose your option</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
    </div>
  </div>
</div>

  

  <form action="" method="post">{% csrf_token %}
       <div class="createlistbody">
  <main>
    <center>
      <!--<img class="responsive-img" style="width: 250px;" src="https://i.imgur.com/ax0NCsK.gif" />-->
      <div class="section"></div>

      <h5 class="indigo-text">Register </h5>
      <div class="section"></div>

      <div class="container col s6">
        <div class="z-depth-1 grey lighten-4 col s12" style="display:inline-block; padding: 32px 48px 0px 20px;border: 1px solid #EEE;">


            <div class='row'>
              <div class='col s12'>
              </div>
            </div>

            <div class="row">
                                        <div class="input-field col s12">
                                           <i class="material-icons prefix">account_circle</i>
                                            <label for="id_username">Username</label>
                                            <input id="id_username" type="text" name="username">

                                        </div>
            </div>
<div class="container">  
  <div class="row">
    <div class="input-field s6">      
      <select class="validate">
        <option value="" disabled selected>Choose your option</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
      <label >OS Version</label>
    </div>
    <div class="input-field s6">
      <label >OS Version</label>
      <select class="validate">
        <option value="" disabled selected>Choose your option</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
    </div>
  </div>
</div>

            <div class="row">
                                        <div class="input-field col s12">
                                         <i class="material-icons prefix">email</i>
                                          <label for="id_password1">Password</label>
                                          <input id="id_password1" type="password" name="password1">
                                        </div>
            </div>
            <div class="row">
                                        <div class="input-field col s12">
                                           <i class="material-icons prefix">lock</i>
                                          <label for="id_password2">confirm password</label>
                                          <input id="id_password2" type="password" name="password2">
                                        </div>
            </div>
             <!--<div class="row">-->
                                        <!--<div class="input-field col s12">-->
                                        <!--<i class="material-icons prefix">lock_open</i>-->

                                          <!--<label for="id_email">Email</label>-->
                                          <!--<input id="id_email" type="email" name="email">-->
                                        <!--</div>-->
            <!--</div>-->
            <div class="row">






              <label style='float: right;'>

							</label>
            </div>

            <br />
            <center>
              <div class='row center'>
                <button type="submit"  class='btn btn-large waves-effect indigo'>Register</button>
              </div>
            </center>

        </div>
      </div>

    </center>

    <!--<div class="section"></div>
    <div class="section"></div>-->
  </main>
  </div>
      <input  value="Save">
  </form>


 <!--<div class="section"></div>-->
  <!--<main>-->
    <!--<center>-->
      <!--&lt;!&ndash;/<img class="responsive-img" style="width: 250px;" src="https://i.imgur.com/ax0NCsK.gif" />&ndash;&gt;-->
      <!--<div class="section"></div>-->

      <!--<h5 class="indigo-text">Enter your details</h5>-->

      <!--<div class="container">-->
        <!--<div class="z-depth-1 grey lighten-4 row col s12" style="display: inline-block; padding: 32px 48px 0px 10px; border: 1px solid #EEE;">-->

          <!--<form class="col s12" action="" method="post">{% csrf_token %}-->
            <!--<div class='row'>-->
              <!--<div class='col s12'>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="row">-->
                                        <!--<div class="input-field col s12">-->
                                            <!--<i class="material-icons prefix">account_circle</i>-->
                                            <!--<label for="id_username">Username*</label>-->
                                            <!--<input id="id_username" name="username" type="text" data-error=".errorTxt1">-->
                                            <!--<div class="errorTxt1"></div>-->
                                        <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                                        <!--<div class="input-field col s12">-->

                                          <!--<label for="cemail">E-Mail *</label>-->
                                          <!--<input id="cemail" type="email" name="cemail" data-error=".errorTxt2">-->
                                          <!--<div class="errorTxt2"></div>-->
                                        <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                                        <!--<div class="input-field col s12">-->
                                            <!--<i class="material-icons prefix">lock</i>-->
                                          <!--<label for="id_password">Password *</label>-->
                                          <!--<input id="id_password" type="password" name="password1" data-error=".errorTxt3">-->
                                          <!--<div class="errorTxt3"></div>-->
                                        <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                                        <!--<div class="input-field col s12">-->
                                            <!--<i class="material-icons prefix">lock_open</i>-->
                                          <!--<label for="id_cpassword">Confirm Password *</label>-->
                                          <!--<input id="id_cpassword" type="password" name="password2" data-error=".errorTxt4">-->
                                          <!--<div class="errorTxt4"></div>-->
                                        <!--</div>-->





              <!--<label style='float: right;'>-->
								<!--<a class='pink-text' href='#!'><b></b></a>-->
							<!--</label>-->
            <!--</div>-->

            <!--<br />-->
            <!--<center>-->
              <!--<div class='row'>-->
                <!--<button type='submit' class='col s12 btn btn-large waves-effect indigo'>Register</button>-->
              <!--</div>-->
            <!--</center>-->
          <!--</form>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash;<a href="signup.html">Create account</a>&ndash;&gt;-->
    <!--</center>-->

    <!--<div class="section"></div>-->
    <!--<div class="section"></div>-->
  <!--</main>-->
{% endblock %}

</body>
</html>